<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pagina-inicio</ion-title>
    <ion-button (click)="redirigirLogin()">login</ion-button>
    <ion-button routerLink="/carrito">carrito</ion-button>
    <ion-button (click)="realizarPago()">pago</ion-button>
  </ion-toolbar>
</ion-header>







<ion-content [fullscreen]="true">

  
  <img class="imagen-banner" src="./../../assets/Images/a2d96dbf-8de1-49a4-8e27-7346e705f4fd.png"/>

  <ion-searchbar></ion-searchbar>

  <ion-spinner class="loading" *ngIf="producto.cargando | async" name="crescent"></ion-spinner>

  <div class="grid-container">
    <ion-card class="custom-card" *ngFor="let dato of datos.registro">
      <img class="imagen-producto" alt="Imagen del producto" src="{{dato.imagenPrincipal}}" />
      <ion-card-header>
        <ion-card-title>{{dato.nombre}}</ion-card-title>
        <ion-card-subtitle color="success">${{dato.precio}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{dato.descripcion}}
      </ion-card-content>
      <ion-button class="boton-compra">añadir al carrito</ion-button>
    </ion-card>
  </div>
</ion-content>


