<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina-inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list *ngIf="carrito.length > 0; else emptyCart">
    <ion-item *ngFor="let product of carrito; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="product.image" alt="Imagen del producto" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Precio: {{ product.precio | currency }}</p> <!-- Asegúrate que la propiedad 'precio' esté definida en TS -->
        <ion-badge color="success">Cantidad: {{ product.cantidad }}</ion-badge> <!-- Cambié 'quantity' por 'cantidad' -->
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="eliminarProducto(i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-button color="success" (click)="aumentarCantidad(i)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <ion-button color="warning" (click)="disminuirCantidad(i)">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #emptyCart>
    <ion-text class="ion-text-center">
      <h2>Tu carrito está vacío</h2>
      <ion-button expand="block" routerLink="/pagina-inicio">Volver a la tienda</ion-button>
    </ion-text>
  </ng-template>

  <ion-footer *ngIf="carrito.length > 0">
    <ion-toolbar>
      <ion-title>Total: {{ obtenerPrecioTotal() | currency }}</ion-title> <!-- Usé el método 'obtenerPrecioTotal' -->
      <ion-button expand="full" color="primary" (click)="realizarCompra()">Proceder al Pago</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>