<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio-sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <div class="logo-centrado" style="border-radius: 25px;">
    <ion-item>
      <ion-img src="./../../assets/images/duoc_uc_logo.png"></ion-img>
    </ion-item>
  </div>

  <div class="formulario-centrado">
    <ion-item style="border-radius: 25px;">
      <form [formGroup]="formulario" (submit)="validarFormulario()" style="margin-top: 25px; margin-bottom: 25px;" >
        <ion-input labelPlacement="floating" fill="outline" formControlName="usuarioVar" style="margin-bottom: 10px;">
          <div slot="label">usuario<ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
        <br>
        <ion-input labelPlacement="floating" fill="outline" formControlName="contraseniaVar" style="margin-bottom: 25px;">
          <div slot="label">contrasenia<ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
        <ion-button type="submit" role="submit"ion-button>Añadir</ion-button>
      </form>
    
    </ion-item>
  </div>
  
</ion-content>
